body{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    height: 600px;
    grid-template-rows: 150px 1fr 1fr 100px;
    font-family: 'Quicksand', sans-serif;
    grid-template-areas: "nav header header header"
                        "nav contenido contenido contenido"
                        "nav contenido contenido contenido"
                        "nav garantia garantia garantia"
                        "footer footer footer footer";
    @media (max-width:1028px){
        grid-template-rows: auto auto auto auto 100px;
        grid-template-areas: 
        "nav nav nav nav"
        "header header header header"
        "contenido contenido contenido contenido"
        "contenido contenido contenido contenido"
        "garantia garantia garantia garantia"
        "footer footer footer footer"; 
    }
    
}