#garantia{
    grid-area: garantia;
    background-color:darksalmon;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    .nos{
        padding: 30px;
    }
}
        